html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #00000088;
    font-family: 'Inter var', sans-serif;
}


/* .label > div
{
    font-family: Helvetica, Arial;
    position: absolute;
    background: #00000088;
    color: white;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 30px;
    user-select: none;
} */



.circle-button {
  all: unset;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(100, 100, 100, .8);
  border: 15px solid white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s, transform 0.2s;
  transform: translate(-50%, -50%)
}

.circle-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%) scale(1.1);
}






.circle-button-views {
  all: unset;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(100, 100, 100, .8);
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s, transform 0.2s;
  transform: translate(-50%, -50%)
}

.circle-button-views:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%) scale(1.1);
}







.tooltip-3d {
  position: absolute;
  top: -80px;

  background-color: rgba(255, 255, 255, .3);
  color: white;
  padding: 4px;
  border-radius: 12px;
  font-size: 25px;
  white-space: nowrap;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transform: translate(-50%, 0%);
  text-align: center;
}





.botones {
    position: fixed;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    height: 800px;
    width: 450px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: -5px 0 30px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    animation: slideInRight 0.5s ease-out;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
}









